.home_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: auto;
  align-items: center;
  margin-top: 43px;
}
.home_contain {
  width: 400px;
  height: 400px;
}
.home_image {
  width: 400px;
  height: 400px;
  position: relative;
  /* background-color: aqua; */
}
.home_image img {
  position: absolute;
  width: 100%;
  height: 75%;
  box-shadow: 7px 4px 7px gray;
}
.home_button {
  height: 40px;
  width: 100px;
  border-radius: 5px;
  margin-top: 15px;
  font-size: 15px;
  font-weight: 600;
}
.home_button:hover {
  background-color: orange;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}
.services_wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 300px;
  width: 100%;
  align-items: center;
}
.services_1 {
  height: 230px;
  width: 250px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.truck_wrapper {
  height: 80px;
  width: 80px;
  background-color: aquamarine;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}
.services_2_wrapper {
  display: flex;
  flex-direction: column;
  height: 230px;
  justify-content: space-between;
}
.services_2 {
  height: 100px;
  width: 230px;
  background-color: #9f9a95;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.non_wrapper {
  height: 41px;
  width: 40px;
  background-color: aquamarine;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
