.Single_Feature_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 350px;
  width: 100%;
  align-items: center;
  background-color: ghostwhite;
}
.singlePagedesign {
  height: 250px;
  width: 250px;
}
.singlePagedesign img {
  height: 100%;
  width: 100%;
}
.heading {
  font-size: x-large;
  font-weight: 700;
  height: 50px;
}
.name {
  margin-bottom: 10px;
  font-size: larger;
}
.singlePagedesign .pp {
  text-decoration: none;
  color: black;
}
